html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding-left: 100px;
}

.navbar-toggler {
  right: 0;
  position: absolute;
  margin-top: 40px;
  margin-right: 10px;
}

.navbar-collapse .nav-item {
  margin: 5px 20px;
  font-weight: bold;
}

.cartIcon {
  right: 0;
  margin-right: 100px;
  position: absolute;
  font-size: 25px;
}

.cartIcon badge {
  font-size: 5px;
}

.cartIcon p {
  display: inline;
  margin-left: 20px;
  margin-right: 10px;
}

.carousel {
  width: 85%;
  margin: auto;
}

.carousel-indicators [data-bs-target] {
  background-color: black !important;
  height: 30px !important;
  border-radius: 30px !important;
  border-top: none;
  border-bottom: none;
}

.absolute-div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.absolute-div h1 {
  font-size: 60px;
  font-weight: bold;
}

.absolute-div h5 {
  font-size: 15px;
  font-weight: bold;
}

#bannerImages {
  margin: auto;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#bannerImages img {
  margin: 20px;
}

#hotDeals,
#newArrivals,
#popularCategories,
#parts {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#hotDeals h2,
#newArrivals h2,
#popularCategories h2,
#parts h2 {
  padding: 20px;
  font-weight: 700;
}

#hotDeals img,
#newArrivals img,
#popularCategories img {
  width: 160px;
  height: 160px;
}

#hotDeals .row {
  margin: auto;
}

#hotDeals .text-muted {
  font-size: 14px;
  text-align: left;
}

.categoryPrice {
  display: inline;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
}

.hdDiv,
.naDiv {
  width: fit-content;
  margin: auto;
}

#newArrivals .row {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

#popularCategoriesMainDiv {
  width: 100%;
  background-color: rgb(247, 240, 240);
}

#popularCategories table {
  background-color: white;
}

#popularCategories th {
  vertical-align: middle;
}

#parts h6 {
  font-weight: bold;
  font-size: 20px;
}

#parts .bigImage {
  width: fit-content;
}

#parts .price {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#parts .card {
  margin-top: 10px;
  margin-bottom: 10px;
}

#parts .card img {
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
}

#parts .card p,
#parts h6 {
  font-size: 12px;
}

footer {
  background-color: orange;
  width: 100%;
  padding: 20px;
  margin-bottom: 100px;
  height: fit-content;
}

footer img {
  width: 50px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* .footer-div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 100px;
} */

footer p {
  margin-left: 100px;
}

@media (max-width: 1192px) {
  .absolute-div {
    display: none;
  }
}

@media (max-width: 992px) {
  .carousel {
    margin-top: 50px;
  }
}
